<a href="https://colab.research.google.com/github/VsolutionVicente/Awari/blob/main/%5BAWARI%5DPr%C3%A1tica_Arrays_com_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![header-notebooks.png]()

Prática da **Aula 04: Linguagem Python II**, do curso de **Data Science** da **[Awari](https://awari.com.br/)**. Para utilizá-la, vá no menu "Arquivo" e, em seguida, na opção "Salvar uma cópia no Drive". Isto criará uma cópia deste notebook em uma pasta chamada "Colab Notebooks", no seu Google Drive pessoal. Use a cópia para criar novas células de código ou executar as células desta prática.

**Orientações ao instrutor:** dada a quantidade de material, sugere-se introduzir a prática e incentivar que os alunos a sigam ou repitam os procedimentos após a aula.

---

# **Arrays com Numpy**

## **Objetivo**

Nesta aula, vamos conhecer Numpy, uma das mais importantes bibliotecas numéricas de Python, que nos ajuda a trabalhar com matrizes (tabelas) e dados multidimensionais.

![image.png]()

**Numpy** é a abreviação de "Numerical Python". É um dos pacotes mais importantes para processamento numérico em Python, sobre o qual outros pacotes científicos estão construídos.

Oferece os seguintes recursos:

- um poderoso objeto *array* multidimensional;
- funções matemáticas sofisticadas e otimizadas para operações com *arrays*;
- recursos de Álgebra Linear e geração de números aleatórios.

No conceito e na forma, **arrays* Numpy e listas (recurso nativo do Python) são muito parecidos. A diferença, porém, reside no desempenho. *Arrays* Numpy são otimizados para ter um desempenho superior, o que explica sua adoção. Numpy é vastamente utilizado em análise e ciência de dados.

Documentação: https://numpy.org/doc/stable/

## **Prática**

A partir daqui, vamos ver como usamos Numpy na Ciência de Dados.

### **Importação do pacote**

Importando o pacote:

In [ ]:
import numpy

Como gerar um **array** como uma lista nativa de Python e com Numpy:

In [ ]:
list(range(0,10))

In [ ]:
numpy.arange(10)

Importando o pacote com um "apelido", para facilitar a codificação:

In [ ]:
import numpy as np

In [ ]:
np.arange(10)

Importando partes do pacote:

In [ ]:
from numpy import arange

In [ ]:
arange(10)

### **Criando arrays**

In [ ]:
# Importando novamente para evitar conflitos com as importações anteriores
import numpy as np

Criando *arrays* a partir de listas Python:

In [ ]:
lista = [1000, 2300, 4987, 1500]
array = np.array(lista)

In [ ]:
lista

In [ ]:
array

In [ ]:
type(array)

In [ ]:
array.dtype

#### **Arrays bidimensionais**

Também conhecidos como matrizes:

In [ ]:
dados = [
          ['a', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
          ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
          ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
        ]
dados

In [ ]:
len(dados)

In [ ]:
acessorios = np.array(dados)

In [ ]:
acessorios

In [ ]:
acessorios.shape

#### **Comparando desempenho com listas**

In [ ]:
np_array = np.arange(1000000)
np_array

In [ ]:
py_list = list(range(1000000))
py_list

In [ ]:
%time for _ in range(100): np_array *= 2

In [ ]:
%time for _ in range(100): py_list = [x * 2 for x in py_list]

### **Operações aritméticas com arrays**

Primeiro, tentando fazer operações com listas nativas de Python. Vejamos o que ocorre:

In [ ]:
km = [44410, 5712, 37123, 0, 25757]
anos = [2003, 1991, 1990, 2022, 2006]

In [ ]:
km + anos

In [ ]:
km - anos

In [ ]:
km * anos

In [ ]:
km / anos

In [ ]:
km * 4

A partir daqui, vamos ver como Numpy nos ajuda com essas mesmas operações:

In [ ]:
km = np.array( [44410, 5712, 37123, 0, 25757])
anos = np.array([2003, 1991, 1990, 2022, 2006])

In [ ]:
km + anos

In [ ]:
km - anos

In [ ]:
km / anos

In [ ]:
km * anos

In [ ]:
km + km

In [ ]:
np.concatenate((km, km, km, km, [2]))

In [ ]:
np.append(km, [4, 5, 6, 7])

In [ ]:
x = ['Leila', 'Paulo', 'Gustavo', 'Tiemi']
y = [1100, 900, 1250, 650]

In [ ]:
 np.array(list(zip(x, y)))

In [ ]:
x = [350, 500, 800, 900, 1000]
y = [1100, 900, 1250, 650, 1200]

arr_2d = np.array(list(zip(x, y)))
arr_2d

In [ ]:
np.delete(arr_2d, 0)

In [ ]:
np.delete(arr_2d, 0, 1)

Diferenças para listas:

In [ ]:
km * 2

In [ ]:
km2 = [44410., 5712., 37123., 0., 25757.]

In [ ]:
km2 * 2

### **Operações entre arrays**

In [ ]:
km_media = km / idade

In [ ]:
km_media

In [ ]:
44410 / (2019 - 2003)

In [ ]:
5712 / (2019 - 1991)

### **Operações com arrays de duas dimensões**

In [ ]:
dados = np.array([km, anos])

In [ ]:
dados

In [ ]:
dados.shape

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

In [ ]:
dados[0]

In [ ]:
dados[1]

In [ ]:
km_media = dados[0] / (2019 - dados[1])

In [ ]:
km_media

### **Seleções de elementos de arrays**

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

In [ ]:
dados[0]

![1410-img02.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img02.png)

### Indexação de elementos

A indexação tem origem no índice zero e não no índice um. Isto é, o primeiro elemento de um arrays sempre tem o índice zero; o segundo tem índice um e assim por diante, até o elemento imediatamente anterior ao índice informado.

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador[0]

In [ ]:
item = 6
index = item - 1
contador[index]

In [ ]:
contador[-1]

In [ ]:
dados[0]

In [ ]:
dados[1]

**Dica:** *ndarray[ linha ][ coluna ]* ou *ndarray[ linha, coluna ]*

In [ ]:
dados[1][2]

In [ ]:
dados[1, 2]

### **Fatiamentos (slicing) de arrays**

A sintaxe para realizar fatiamento em um *array* Numpy é $i : j : k$ onde $i$ é o índice inicial, $j$ é o índice de parada, e $k$ é o indicador de passo ($k\neq0$)

**Observação:** o item com índice $i$ é incluído e o item com índice $j$ não é incluído no resultado.

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador[1:4]

In [ ]:
contador[1:8:2]

In [ ]:
contador[::2]

In [ ]:
contador[1::2]

In [ ]:
dados

In [ ]:
dados[:, 1:3]

In [ ]:
dados[:, 1:3][0] / (2019 - dados[:, 1:3][1])

In [ ]:
dados[0] / (2019 - dados[1])

### **Indexação com array booleano**

Seleciona um grupo de linhas e colunas segundo os rótulos ou um array booleano:

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador > 5

In [ ]:
contador[contador > 5]

In [ ]:
contador[[False, False, False, False, False, False,  True,  True,  True, True]]

In [ ]:
dados

In [ ]:
dados[1] > 2000

In [ ]:
dados[:, dados[1] > 2000]

### **Atributos de arrays**

Documentação em: https://numpy.org/doc/1.16/reference/arrays.ndarray.html#array-attributes

In [ ]:
dados = np.array([[44410., 5712., 37123., 0., 25757.],
                  [2003, 1991, 1990, 2019, 2006]])
dados

#### ***ndarray.shape***

Retorna uma tupla com as dimensões do array:

In [ ]:
dados.shape

#### ***ndarray.ndim***

Retorna o número de dimensões do array:

In [ ]:
dados.ndim

#### ***ndarray.size***

Retorna o número de elementos do array:

In [ ]:
dados.size

#### ***ndarray.dtype***

Retorna o tipo de dados dos elementos do array:

In [ ]:
dados.dtype

#### ***ndarray.T***

Retorna o array transposto, isto é, converte linhas em colunas e vice-e-versa:

In [ ]:
dados.T

In [ ]:
dados.transpose()

### **Métodos de arrays**

Documentação em: https://numpy.org/doc/1.16/reference/arrays.ndarray.html#array-methods

#### ***ndarray.tolist()***

Retorna o array como uma lista Python:

In [ ]:
dados.tolist()

#### ***ndarray.reshape(shape[, order])***

Retorna um array que contém os mesmos dados com uma nova forma.

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador.reshape((5, 2))

In [ ]:
contador.reshape((5, 2), order='C')

In [ ]:
contador.reshape((5, 2), order='F')

In [ ]:
km = [44410, 5712, 37123, 0, 25757]
anos = [2003, 1991, 1990, 2019, 2006]

In [ ]:
info_carros = km + anos
info_carros

In [ ]:
np.array(info_carros).reshape((2, 5))

In [ ]:
np.array(info_carros).reshape((5, 2))

In [ ]:
np.array(info_carros).reshape((5, 2), order='F')

In [ ]:
np.array(info_carros).reshape((5, 2), order='C')

In [ ]:
dados_new[1]

In [ ]:
dados_new[2] = dados_new[0] / (2019 - dados_new[1])

In [ ]:
dados_new

### **Eixos**

* 0 = coluna
* 1 = linha

In [ ]:
dados

In [ ]:
np.sum(dados, axis = 1)

In [ ]:
np.average(dados, axis = 0)

### **Estatísticas com arrays**

Documentação:

* https://numpy.org/doc/1.16/reference/arrays.ndarray.html#calculation
* https://numpy.org/doc/1.16/reference/routines.statistics.html
* https://numpy.org/doc/1.16/reference/routines.math.html

In [ ]:
anos = np.loadtxt(fname = "carros-anos.txt", dtype = int)
km = np.loadtxt(fname = "carros-km.txt")
valor = np.loadtxt(fname = "carros-valor.txt")

In [ ]:
anos.shape

In [ ]:
dataset = np.column_stack((anos, km, valor))
dataset

In [ ]:
dataset.shape

#### ***np.mean()***

Retorna a média dos elementos do array ao longo do eixo especificado:

In [ ]:
np.mean(dataset, axis = 0)

In [ ]:
np.mean(dataset, axis = 1)

In [ ]:
np.mean(dataset[:, 1])

In [ ]:
np.mean(dataset[:, 2])

#### ***np.std()***

Retorna o desvio padrão dos elementos do array ao longo do eixo especificado:

In [ ]:
np.std(dataset[:, 2])

#### ***ndarray.sum()***

Retorna a soma dos elementos do array ao longo do eixo especificado:

In [ ]:
dataset.sum(axis = 0)

In [ ]:
dataset[:, 1].sum()

#### ***np.sum()***

Retorna a soma dos elementos do array ao longo do eixo especificado.

In [ ]:
np.sum(dataset, axis = 0)

In [ ]:
np.sum(dataset[:, 2])

### **Exemplo com Matriz 3 x 3**

In [ ]:
x = np.array([[1, 1, 1], [2, 2, 2],[3, 3, 3]])
x

In [ ]:
z = x.sum(axis = 0)
print('z = ', z)

In [ ]:
# Soma das Linhas e Colunas de uma matriz 3x3
x = np.array([[1, 1, 1], [2, 2, 2],[3, 3, 3]])

# Soma da colunas
z = x.sum(axis = 0)
print('z = ', z)
#(Resultado) >>> array([6, 6, 6])

#Soma das linhas
z = x.sum(axis = 1)
print('z = ', z)
#(Resultado) >>> array([3, 6, 9])

In [ ]:
# Or matrix
np.random.shuffle(dados)

In [ ]:
# Create an array with 0 elements
np.zeros((3,3))

In [ ]:
np.ones((3,3))

In [ ]:
np.full((3,3), 10)

In [ ]:
# Create a diagonal matrix with diagonal elements specified in the array x
x = [1,2,3]
np.diag(x)

---

Notebook utilizado para fins educacionais da **Awari**.

**© AWARI. Todos os direitos reservados.**